<div id="bookmark">
	<div id="email-box">
		<!--
		<p class="email-text">Email this page to a friend.</p>
		<form action="email" method="get">
			<input name="email" type="text" value="enter email address here" size="25" maxlength="200" class="email-inpt" />
		<div id="send-email-button" title="send"><a href="#">send</a></div>
		</form>
	-->
	</div>
	<div id="bookmark-box">
		<p class="bookmark-text">Bookmark this page and share it with friends.</p>
		<ul class="bookmark-list">
			<li><%=link_to image_tag('Fav-BookMark.jpg', :alt => 'Fav bookmark'), '#' %></li>
			<li><%=link_to image_tag('Delicious-Bookmark.jpg', :alt => 'Delicious bookmark'), '#' %></li>
			<li><%=link_to image_tag('Myspace-Bookmark.jpg', :alt => 'Myspace bookmark'), '#' %></li>
			<li><%=link_to image_tag('Google-Bookmark.jpg', :alt => 'Google bookmark'), '#' %></li>
			<li><%=link_to image_tag('Digg-Bookmark.jpg', :alt => 'Digg bookmark'), '#' %></li>
			<li><%=link_to image_tag('Furl-Bookmark.jpg', :alt => 'Furl bookmark'), '#' %></li>
			<li><%=link_to image_tag('Stumbleupon-Bookmark.jpg', :alt => 'Stumbleupon bookmark'), '#' %></li>
			<li><%=link_to image_tag('Facebook-Bookmark.jpg', :alt => 'Facebook bookmark'), '#' %></li>
			<li><%=link_to image_tag('Yahoo-Bookmark.jpg', :alt => 'Yahoo bookmark'), '#' %></li>
			<li><%=link_to image_tag('Redit-Bookmark.jpg', :alt => 'Redit bookmark'), '#' %></li>
			<li><%=link_to image_tag('Propeller-Bookmark.jpg', :alt => 'Propeller bookmark'), '#' %></li>
			<li><%=link_to image_tag('Magnolia-Bookmark.jpg', :alt => 'Magnolia bookmark'), '#' %></li>
			<li><%=link_to image_tag('Technorati-Bookmark.jpg', :alt => 'Technorati bookmark'), '#' %></li>
			<li><a href="#" class="more">view more</a></li>
		</ul>
</div>