<div id="footer">
	<ol class="footer-links">
		<li><%= link_to "Home", "http://#{MY_HOST}" %></li>
		<li><%= link_to "About Us", about_path %></li>
		<li><%= link_to "Press", press_path %></li>
		<li><%= link_to "Privacy Policy", privacy_path %></li>
		<li><%= link_to "Advertising", advertising_path %></li>
		<li><%= link_to "Suggest a Link", suggest_path %></li>
		<li><%= link_to "Video", demo_path %></li>
		<li><%= link_to "Contact Us", contact_path %></li>
		<li><%= link_to "Login", login_path %></li>
	</ol>
	<p>Patent Pending / Copyright 2007 Smart MSA Marketing<span class="sup">SM</span>, Inc.</p>
</div>

