<% menu_id = "item_menu_#{msa_link.id}" %>
<tr onmouseover="$('<%=menu_id%>').style.visibility='visible'" 
	  onmouseout="$('<%=menu_id%>').style.visibility='hidden'" class="<%= cycle("odd", "even") -%>" id="<%=dom_id(msa_link)%>">
	<td>
		<div id="<%=menu_id%>" class="item_menu">
		<%= link_to image_tag('bin.png', :title=>"Delete #{msa_link.name}"), admin_metro_service_area_link_path(msa_link), 
				:confirm => 'This will permanently delete all information for #{msa_link.name} from our system. This cannot be undone. Are you sure you want to do this?', :method => :delete %>
	  <%= link_to image_tag('pencil.png', :title=>"Edit #{msa_link.name}"), edit_admin_metro_service_area_link_path(msa_link) %>
	  </div>
	  <%= msa_link.name %>
	</td>
	<td><%= msa_link.url %></td>
</tr>


