<h2>Frequently Asked Questions</h2>
<h3 class="tight">1. What is ubExact?</h3>
<p>Based in Fort Lauderdale, FL., ubExact is a new kind of search engine that tackles common user and advertiser frustrations including irrelevant and disorganized content, lack of privacy, inefficiencies and increased competition for advertisers.</p>

<p>This patent-pending technology was developed to rebuild the Web into a user-centric library. ubExact serves users with a fast, intuitive and simple way to search based on:<br/>
<ul class="emphasis">
<li>user behavior/actions</li>
<li>geo-targeted metro areas (MSAs) and </li>
<li>direct navigation to desired brands – a combination of features no search engine can claim.</li>
</ul>
</p>
<p>ubExact builds trust with users by cutting through irrelevant content and providing search options based on keyword matches that are aligned with what users are thinking. ubExact&#39;s ability to organize content by action, coupled with its direct navigation methodology (the way users get to a specific website using their browser address bar rather than using a search engine, directory, or clicking on a link from another site) will drastically improve result relevance, content localization, micro-targeting, speed and ease of search results, while protecting user privacy. ubExact&#39;s human-edited content seeks to eliminate dead links, spam, unwanted ads, as well as alerting users to unanticipated requests for credit card and registration info. </p>

<p>ubExact gets advertisers directly in front of their target audience, creating revenue-generating opportunities beyond what exists through current search engines. ubExact offers tailored results and ad opportunities to specific searching communities and geographic markets that span from global to metropolitan service areas (MSAs). It also saves advertisers money on ad development, placement and tracking since the ubExact architecture does not require optimization of keyword density and link structures or the need for a middleman to track ROI. For more information, contact (954) 812-0876 or <%= mail_to "info@ubexact.com"%>.</p>

<h3 class="tight">2. How does ubExact work?</h3>
<p>With our horizontal universal architecture, users can go to &quot;ubexact.com&quot; and type their search criteria in the search box, or select a popular search category or MSA, to access human-edited search results. &quot;ubexact.com&quot; provides intuitive tools, including maps, searching by action, and suggested topics to help define search criteria and direct users to results. </p>

<p>In addition, users can use their web browser address bar to intuitively navigate to desired website addresses without having to memorize them. Users simply type <b>&quot;ubexact</b>yourtopic<b>.com&quot;</b> or <b>&quot;ubexact</b>yourlocationmsa<b>.com&quot;</b> in their browser to get to the most relevant content. Both ways incorporate the shift of using direct navigation to speed users along, while seeking to eliminate dead links, spam, unwanted ads, as well as alerting users to unanticipated requests for credit card and registration info.</p>

<p>The best way to try ubExact is to check out the popular search categories we outline on &quot;ubexact.com&quot;. We know at launch our indexes are limited, but our hope is that users will see the benefits of what our technology can do, and will help us propagate content with the links that are important to them. In fact, the user community is encouraged to participate in our Submit-A-Link(s) program so other users can benefit from their Web-wisdom.</p>

<p>ubExact operates horizontally to make searching faster, results more accurate and to give users many doors to get to the results they are seeking. This horizontal architecture is scalable to advancing technology, including the move towards voice recognition and mobile search. ubExact is also the only search engine that provides a way to track the context of your movement from website to website. Searching with ubExact means your search history follows you across the ubExact platform, eliminating the need to keep using your back button. When you leave the ubExact architecture, your search history tracking disappears from the screen to protect user privacy.</p>

<p><strong>What are the benefits?</strong><br/>
<strong><i>Improved Efficiency –</i></strong><br/>
<ul class="emphasis">
<li>ubExact reduces time spent on searches, so you can focus on your priorities. </li>
<li>Edited by humans, ubExact organizes Web content by action such as <i>See It, Do It, Shop It, Find It.<span class="sup">SM</span></i>, making it easier to navigate to desired results and dramatically improve the relevancy of search results.</li>
<li>ubExact cleans up your search, bringing order to results one page at a time. </li>
<li>Instead of users having to manipulate current search engines by using quotes, plus signs, minus signs, file format, all-in-title, and similar search result manipulators, ubExact frees the user to concentrate on what they are thinking and wanting, and presents the results accordingly through its direct navigation methodology.</li>
<li>ubExact protects user privacy</li>
<li>ubExact bridges the best of search technology with the convenience of directories. Depending on your preference, it provides options to click or type to reach your desired results. </li>
<li>ubExact seeks to weed out spam and irrelevant content, and insures ads that you are offered are relevant to your search and never disguised.</li>
<li>ubExact simplifies search history tracking.</li>
<li>ubExact alerts users when websites require registration or fees prior to accessing content.</li>
<li>ubExact offers tailored results and advertising opportunities across the globe, or to specific metro service areas (MSAs), as well as micro-targeted results.</li>
<li>ubExact supports a &quot;user-contributed&quot; environment which will increase the power and quality of content as more users contribute rich content from their own expert knowledgebase. </li>
</ul>
<br/>
<strong><i>A Better, More Powerful Way to Advertise –</i></strong><br/>
<ul class="emphasis">
<li>Direct navigation is the absolute quickest link between users and advertisers.</li>
<li>Through direct navigation, ubExact weeds out undesired audiences for advertisers.</li>
<li>ubExact expands the brand advantage generally available exclusively by a retailer&#39;s own site, and offers it across the Internet platform. </li>
<li>For companies utilizing ubExact&#39;s architecture, the need to optimize keyword density and link structure is eliminated, saving them substantial money on ad development and placement.</li>
<li>ubExact eliminates the need for advertisers to hire a middleman to track, monitor and analyze search ad ROI.</li>
</ul>
</p>
<h3 class="tight">3. What is direct navigation?</h3>
<p>Direct navigation is finding the information you&#39;re looking for through your browser address bar without using a search engine, directory or clicking on a link from another site. It is the purest and most targeted form of traffic on the Web, and considered by many to be the highest octane virtual fuel that drives the Internet. More and more people are utilizing their address bar to search with direct navigation. </p>

<p>There is an increasing trend to populate unused domains with information to create mini-portals. Online consumers are mistakenly ending up on these &quot;parked&quot; websites and becoming frustrated because many times they do not contain a single relevant result. Consequently, the reputation of direct navigation is locked into that of the &quot;parked&quot; page. There are also recent attempts for search engines and browsers to hijack a user&#39;s address bar or read a user&#39;s saved favorites in attempts to improve relevancy, but that can be an invasion of the user&#39;s privacy.</p>

<p>But no one can doubt the power direct navigation has in speeding users to results. And when utilized properly, it can save users a tremendous amount of time. ubExact remembered this when designing its architecture to power users across a platform that efficiently creates and opens an endless number of doors to make organizing Web content user friendly, simple and fun.</p>

<p>If a user wants to buy new designer suits, rather than giving them millions of cluttered options on the subject of designer clothes, we can give them the most appropriate organized results for their intended search. We are very strict about how we select the search criteria necessary to provide those results. Additionally, if someone thinks of <i>Neiman Marcus</i>, then they should be directed to <i>Neiman Marcus</i> immediately, letting them tell their own brand story - rather than having resellers, auction sites, financial critics, news media or bloggers tell it for them. A brand should be able to speak for itself. </p>

<h3 class="tight">4. What sites will I find using ubExact?</h3>
<ul class="emphasis">
<li>Popular and relevant websites and information tailored precisely to the information you are seeking.</li>
<li>Relevant and important links pertaining to specific metro area residents and businesses.</li>
<li>Important alerts for citizens in all U.S. geographic markets, or on topics of interest to the global internet community.</li>
</ul>

<h3 class="tight">5. What sites won&#39;t I find using ubExact?</h3>
<ul class="emphasis">
<li>You will not find sites that contain inappropriate content. </li>
<li>You will not find sites that are considered spam.</li>
<li>You will not find sites that pretend to be a particular brand, when they are not. </li>
</ul>

<h3 class="tight">6. Who are you targeting with your product?</h3>
<p>ubExact targets all Internet users in need of search technology; companies in all industries and geographies that have information, products or services to sell; as well as companies looking to advertise online and build brand awareness. Other customers may be strategic technology partners and purchasers of highly scalable online architecture solutions.</p>

<h3 class="tight">7. What differentiates ubExact in the market?</h3>
<ul class="emphasis">
<li>ubExact successfully reorganizes Web content and turns it into orderly searchable information. Edited by humans, this content is organized and searchable by actions such as <i>See It, Do It, Shop It, Find It.<span class="sup">SM</span></i></li>
<li>ubExact offers tailored results and ad opportunities to specific geographic markets ranging from global, continent, state, all the way down to metro service areas (MSAs).</li>
<li>ubExact ensures paid advertisements do not show up in organic results and upfront fees, registration requirements and ads are identified prior to accessing them.</li>
<li>ubExact is able to provide users exactly what they are seeking through direct navigation.</li>
<li>ubExact protects user privacy by using only &quot;short-term cookies&quot; for tracking system profiling (search engine&#39;s performance and errors) and what we are rendering for the advertiser, such as keywords a user uses. We do not actively pursue specific demographics of an individual and certainly do not invade upon what a user keeps on their personal computer.</li>
<li>ubExact utilizes a universal platform which operates horizontally – this means it is scalable to support technical advances, including the move towards voice recognition technology and mobile search.</li>
<li>ubExact is the only technology capable of tracking search movement from website to website. Searching with ubExact means your search history follows you across the ubExact platform. And to protect user privacy, when users exit the ubExact platform, ubExact cookies automatically expire and their search history disappears from their computer screen.</li>
<li>ubExact&#39;s architecture doesn&#39;t require advertisers to pay large sums of money to marketing companies to optimize their keyword density and link structure before placing ads with ubExact.</li>
<li>ubExact accesses Deep Web content that traditional algorithmic search engines can&#39;t or don&#39;t access.</li>
<li>ubExact promotes user community collaboration to deepen the quality, richness and relevance of the results it provides.</li>
</ul>

<h3 class="tight">8. How does ubExact fare against other search engines and directories?</h3>
<p>ubExact is unique in the speed, strength, and capabilities it brings to market. Indirect competition exists in that information retrieval portals abound. However, the architecture of ubExact&#39;s technology is focused on presenting organized content through a horizontal navigation method, while the competitor&#39;s architectures are vertically focused. Since ubExact is horizontal, and by nature sits on top of the Internet, its design facilitates speed and makes it easily scalable to Internet technology advances. </p>

<h3 class="tight">9. What makes ubExact different from other non-algorithmic search engines?</h3>
<p>Currently, there are only a few other human-powered search engines with any significant following. Both are vertical portals and lack the patent-pending horizontal search feature capable of speeding users to relevant results. Additionally, one requires continuous drilling into results, and the other can extend a user&#39;s wait time because of the live human interface and their lack of experience on a topic. In a future release, as we incorporate voice recognition, a user will simply say, &quot;ubExact San Diego 24-hour pharmacy&quot; and a listing will immediately appear on their mobile screen – they will not have to wait for a text message to come back to them. </p>

<h3 class="tight">10. Can most search engines access the entire Web when they search for results?</h3>
<p>No. The Deep Web is the area of the World Wide Web that is not consistently searched and therefore not readily available to users and researchers. It may contain files, databases, documents, etc. that major search engines are not programmed to or lack algorithms capable of deciphering. According to Marcus P. Zillman, one of the most renowned experts on Deep Web information retrieval and the Internet, &quot;the Deep Web represents 500 billion to 1 trillion pages. The traditional Web searched by Google and other algorithmic search engines consists of about 30 billion pages. There is a very large delta between traditional Web and the Deep Web ranging from 30 billion to 1 trillion.</p>

<h3 class="tight">11. Why don&#39;t traditional search engines access the Deep Web?</h3>
<p>To discover content on the Web, search engines use <%= link_to "web crawlers", "http://en.wikipedia.org/wiki/Web_crawler"%> that follow <%= link_to "hyperlinks", "http://en.wikipedia.org/wiki/Hyperlink"%>. This technique is widely used to discover resources on the <%= link_to "surface Web", "http://en.wikipedia.org/wiki/Surface_Web" %> but is often ineffective at finding Deep Web resources. </p>
<p>One way to access the Deep Web is via <%= link_to "federated search-based", "http://en.wikipedia.org/wiki/Federated_search"%> search engines. Search tools such as <%= link_to "Science.gov", "http://www.science.gov/"%> are being designed to retrieve information from the Deep Web. These tools identify and interact with searchable databases, aiming to provide access to Deep Web content.</p>
<p>Another way to explore the Deep Web is by using human crawlers instead of algorithmic crawlers. In this paradigm referred to as <%= link_to "Web harvesting", "http://en.wikipedia.org/wiki/Web_harvesting"%>, humans find interesting links in the Deep Web that algorithmic crawlers can&#39;t find. This <%= link_to "human-based computation", "http://en.wikipedia.org/wiki/Human-based_computation"%> technique used to discover the Deep Web has been implemented by only a few search sites and directories.</p>

<h3 class="tight">12. What is the benefit of having your architecture operate horizontally, website-to-website?</h3>
<p>ubExact&#39;s universal architecture sits on top of the Internet. So rather than digging down vertically for search results as you do with algorithmic search engines, users horizontally skim across a depository of websites that are organized and put in relevant categories. This makes results more accurate and gives users many doors to get to the result they are seeking. ubExact&#39;s horizontal architecture is also scalable to advancing technology. This means we are easily able to adapt as user preferences change, including topics of interest and types of information presented (for example: photo, video, RSS, wikis, social or MySpace type).</p>
<p>Most importantly, a horizontal structure saves users time! Since we are URL driven, we won&#39;t have to completely rewrite algorithmic code as search moves more towards voice recognition and VoIP, or to accommodate future computer operating system changes. Adding to these architectural benefits is our ability to continue to eliminate spam, since ubExact&#39;s search results are human edited. Our horizontal nature increases access options and makes speed, scale, and the ability to easily adapt to market changes unique.</p>

<h3 class="tight">13. So, is ubExact like a link farm?</h3>
<p>No. A link farm is a bunch of different websites (almost like a union), who have ban or linked together to improve their placement on traditional search engines. Since websites with many links receive prioritization by algorithmic search engines, many websites have been on a quest to link together and manipulate search results in order to receive a higher search result ranking. Typically, in a link farm, the collection of links is uncategorized and displayed in a haphazard way. </p>
<p>ubExact does not utilize ANY external links within its architecture, and has no need to purchase or hide any links. ubExact result sets are created dynamically each time a user generates a search. Therefore, it is impossible to know what each user is going to request and to create an artificial structure to provide answers to those queries. In fact, ubExact&#39;s human interface can identify link farms whose sole purpose is to inflate stats with fake click-throughs, as well as those that lack the quality content users seek, and weed out this undesirable content. Additionally, one criteria used to select credible websites is an identifying connection between the website and its owner. If one cannot be found, it may be omitted, depending on its content. ubExact provides advertisers with simple, clean data on ad performance, which can be verified by most advertisers&#39; basic website performance tools. </p>
<p>Our organized result sets do reside within separate specific websites, but only our own. And our patent-pending architecture is smart enough to retrieve what the user &quot;thinks up&quot; at the time of their search - which means the historical form of linking that the world is familiar with does not happen here. Linking up with the correct ubExact result website is maintained &quot;within&quot; our own architecture, guaranteeing the results are secure, high quality, and relevant.</p>
<p>To compare ubExact&#39;s architecture to other search engine or Web architectures – or rules – is simply comparing apples to oranges.</p>

<h3 class="tight">14. How do I recommend links to ubExact?</h3>
<p>ubExact users have a means to suggest a link/website to ubExact or multiple links/websites through its Submit-A-Link Program. The user community is encouraged through this program to get involved in the evolution of ubExact&#39;s human knowledge-based results submitting a set of links (40) to become a ubExactor, or a set of links (400) to become a ubExpert. </p>

<h3 class="tight">15. How does ubExact plan on building content fast enough to compete?</h3>
<p>We are focused on value, not quantity. Even though some search engines do a great job finding a lot of content, does the last 2.4 million links matter? No search engine has been able to find everything on the Web, organize it and then categorize it properly to make the user experience intuitive. Our strategy is to begin organizing and categorizing the most popular search terms and most important sites to specific user segments, and then motivate the user community to get involved with contributing their expert knowledgebase to grow our content exponentially.</p>

<h3 class="tight">16. What is ubExact&#39;s financing strategy?</h3>
<p>We have been working with private investors and plan to actively seek out series &quot;A&quot; financing.</p>

<h3 class="tight">17. You tout your ability to provide localized content as a benefit. Aren&#39;t other sites already doing this?</h3>
<p>What makes ubExact different in this area is our ability to include a complete metro service area (MSA) that integrates all surrounding areas such as suburbs, which makes it more intuitive for a resident, new resident, business or someone looking to do business in a certain area. Other sites that claim to localize do it by zip code or city proper, which is limiting.</p>

<h3 class="tight">18. What are the benefits to the advertiser?</h3>
<p>ubExact increases branding opportunities, localization and targeted/relevant audiences to advertisers. Having results that are human-edited provides an untapped opportunity for advertisers looking to reach niche user communities. And, for smaller companies targeting a local market, ubExact offers a level playing field and ability to compete from a search advertising standpoint. By organizing and categorizing Web content, the architecture weeds out undesired content for users and undesired audiences for advertisers. </p>
<p>Through effective direct navigation, advertisers can ensure a direct connection with their target audience, because searchers are initiating the content they actually want to see. Using direct navigation gives ubExact advertisers an advantage because it eliminates the need to hire a middleman to track, monitor and analyze search ad ROI, and gives the control back to the advertiser. The new platform also eliminates the need to use complicated keyword optimization and link structure programs, which can save businesses substantial money on ad development and placement. </p>
<p>ubExact expands the brand advantage generally available exclusively by a retailer&#39;s own site, and offers it across the Internet platform. Keyword ads are prominently placed as &quot;Preferred Link Ads&quot;, which when selected, open to full-page ads (no more tiny boxes or skyscrapers). Exclusive keyword-driven ads or &quot;Nav Ads,&quot; are offered to businesses with branded trademarks. They are also available to advertisers whose offering is exactly relevant to the keyword search the user types. Nav Ads bypass all results and navigate users directly to the advertiser&#39;s website. This is a seismic shift in how advertisers are currently treated by other search engines. And, it eliminates the need for expensive ad design costs, as well as the need to redesign home pages to accommodate a desired or time-sensitive message on which the advertiser wants the user to land. </p>
<p>For those searching for specific geographic information, ubExact offers tailored results to specific geographic markets, from global all the way down to metro service areas (MSAs). This architecture opens the door for both local and national businesses to draw more traffic to their sites just by having a user ask for the site, regardless if they know the exact URL or not. ubExact also provides advertisers the opportunity to resonate with user-segmented communities, without having to jump from platform to platform to reach them because all topics - from music to sport scores to micro-biology - all exists within the single ubExact architecture.</p>
<p>In an effort to ensure relevance, brand terms can only be purchased by the brand who owns that name. And ubExact&#39;s results don&#39;t discriminate against companies without .com suffixes or those with hyphenated domain names. If your company has a complicated web address, ubExact can make it more intuitive when you secure a Nav Ad.</p>

<h3 class="tight">19. What is Smart MSA Marketing?</h3>
<p>Smart MSA Marketing is the parent company and owner of ubExact. In response to market trends calling for Web content to be more localized, Smart MSA Marketing focuses on building marketing tools to help businesses target their local markets and build brand awareness.</p>
<p>One of the backbones to ubExact&#39;s architecture, and a unique feature not organic to other leading search engines, is that it is designed around &quot;Metropolitan Service Areas&quot; (MSAs). If an advertiser wants to advertise on the keywords &quot;Designer Wedding Cakes&quot; and serves the Los Angeles metro area only, they can place their keyword ad on that MSA specifically, or on any broader market. For a small business, it becomes more affordable to target the metropolitan service area audience most relevant to them. </p>
<p>For the searcher, ubExact&#39;s engine lets you narrow the keyword search down to a specific MSA. As an example, if you were looking to move from Southern California to Bridgeport, Connecticut, and wanted to research the schools, parks, doctors, dry cleaners in that area, you can type into your address bar: &quot;ubexactbridgeportmsa.com&quot; and see ONLY all the things related to Bridgeport, where you can select the topic of your choice. Or, you can type: &quot;ubexactparks.com&quot;, then click on the MSA relevant to your interest. In either case, ubExact gets you to local market results in a very simple and efficient manner.</p>

<p>&copy; 2007-Current &nbsp;Smart MSA Marketing, Inc.<span class="sup">SM</span>