<div id="page_menu">
  <%= link_to 'Back', :back %> 
</div>

<h2>Edit a Blacklisted Site</h2>

<%= error_messages_for :blacklisted_site %>

<% form_for([:admin, @blacklisted_site]) do |f| %>
  <p>
    <b>URL</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.submit "Update" %>  <%= link_to "Cancel", :back%>
  </p>
<% end %>


